/* Margin y pading */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* body */
body{
  min-height: 100vh;
  font-size: 100%;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #181818;
  background-color: #f0f0f0;
  line-height: 1.4em;
  text-align: center;
}

/* Imagen */
img, picture, video, iframe, figure{
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Enlaces */
p a, p i{
  display: inline;
  color: inherit;
  text-decoration: none;
}

a{ 
  display: block;
  color: inherit;
  text-decoration: none;
}

/* Listas */
li{
  list-style-type: none;
}

/* anclas suaves */
html{
  scroll-behavior: smooth;
}

/* styles por default */
h1, h2, h3, h4, h5, h6, p, span, a, strong, i {
  font-size: 1em;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
}

/* texto seleccionado */
::selection{
  background-color: black;
  color: white;
}

/* form */
form, input, textarea, label, button{
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

button{
  cursor: pointer;
}

/* Dark mode */
@media (prefer-colors-schema: dark){
  :root{
      --color-primary: #f0f0f0;
      --color-secundary: #181818;
  }
}

/* Alto contraste */
@media (prefer-contrast: high){
  :root{
      --color-primary: black;
      --color-secundary: white;
  }
} 