.cardVideo{
    width: 340px;
    height: 350px;
}

.thumbnail{
    width: 330px;
    height: 200px;
}

.video-thumbnail{
    width: 330px;
    height: 200px;
}

.infoBox{
    width: 340px;
}

.title{
    width: 250px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.author{
    color: rgb(75,75,75);
}
.description{
    color: rgb(75,75,75);
    margin-top: -16px;
}
.avatar{
    width: 40px;
    height: 40px;
}
